<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FromMail" value="gofmansfeedback@gmail.com"/>
    <add key ="Password" value="Gofmantest"/>
    <add key ="Host" value ="smtp.gmail.com"/>
  </appSettings>
  <system.web>
    <authorization>
      <allow roles="canEdit"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>