<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gfs462.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>gfs462.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GFS462</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GFS462</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=xwvutn19yx.database.windows.net;Initial Catalog=GFSDatabase;Persist Security Info=True;User ID=GFSAdmin;Password=Gfscsuf462" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GFS.Models.ApplicationDbContext, GFS" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GFS" Order="4" Enabled="False">
          <Destination Path="Data Source=xwvutn19yx.database.windows.net;Initial Catalog=GFSDatabase;Persist Security Info=True;User ID=GFSAdmin;Password=Gfscsuf462" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GFS.Models.GFSContext, GFS" MigrationConfiguration="GFS.Migrations.Configuration, GFS" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GFSContext" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:xwvutn19yx.database.windows.net,1433;Database=GFSDatabase;User ID=GFSAdmin@xwvutn19yx;Password=Gfscsuf462;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GFSContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:xwvutn19yx.database.windows.net,1433;Database=GFSDatabase;User ID=GFSAdmin@xwvutn19yx;Password=Gfscsuf462;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=xwvutn19yx.database.windows.net;Initial Catalog=GFSDatabase;Persist Security Info=True;User ID=GFSAdmin;Password=Gfscsuf462</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GFS-Web.config Connection String">
      <ParameterValue>Data Source=xwvutn19yx.database.windows.net;Initial Catalog=GFSDatabase;Persist Security Info=True;User ID=GFSAdmin;Password=Gfscsuf462</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ConnectionString" />
    <_ConnectionStringsToInsert Include="GFS" />
  </ItemGroup>
</Project>